

.slide{
  width: 100%;
  position: relative;
}

#slide-1{
  height: 600px;
  background: url("http://blogs-images.forbes.com/jeffbercovici/files/2014/08/uberX_Driver2_Color1-e1408037352451-1940x1091.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   margin-bottom:400px;
}


@media (max-width: 480px) {

  #slide-1{
    text-align: center;
  }
}

.application{
  position: absolute;
  left:50px;
  top:100px;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  width: 450px;
  background-color: rgba(255,255,255,1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 5px;
  overflow: hidden;
  padding-bottom:20px;
}

@media (max-width: 480px) {
  .application{
    position: relative;
    display: inline-block;
    left:0px;
    top:200px;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    width: 300px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    overflow: hidden;
    padding-bottom:20px;
  }
}


.application_header{
  background-color: #ecf0f1;
  padding: 15px;
  font-size: 30px;
  font-weight: 400;
}

@media (max-width: 480px) {
  .application_header{
    background-color: #ecf0f1;
    padding: 15px;
    font-size: 25px;
    font-weight: 400;
  }
}


.application_body_form_arae{
    min-height: 300px;
}
.application_body{

}

.second_page{
  display: none;
  position: relative;
  opacity: 0;
  left: 10px;
  padding:20px;
}


.third_page{
  display: none;
  position: relative;
  opacity: 0;
  left: 10px;
}

.application_btn_area{
  margin: 20px;
}

.next_btn{
  position: relative;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  color: white;
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
   box-shadow: inset -1px -1px #16a085;
  background-color: #1abc9c;
  cursor: pointer;
  border:3px solid #bdc3c7;
  border-radius: 50%;
}

.left_btn{
  position: relative;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  color: white;
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
   box-shadow: inset -1px -1px #16a085;
  background-color: #1abc9c;
  cursor: pointer;
  border:3px solid #bdc3c7;
    border-radius: 50%;
}

.btn{
  width: 80px;
  display: inline-block;
}

.next_btn:hover{
  box-shadow: inset 1px 1px #16a085;
}

.left_btn:hover{
  box-shadow: inset 1px 1px #16a085;
}


.input--nariko{

}

.input{
  width: 180px;
}

.input_nomargin{
  margin-top: 0px;
    margin-bottom: 0px;
}

.application_group_label{
  margin-top: 20px;
  text-align: left;
  padding:0px 25px;
}



.application_textarea{
  width: 100%;
  padding: 0px 25px;
}

@media (max-width: 480px) {
  .application_textarea{
    width: 100%;
    padding: 0px 30px;
  }
}

.application_textarea p{
  color: #8E9191;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  padding:0px 5px;
}

.application_textarea textarea{
  width: 100%;
  font-size: 15px;
  color:#1abc9c;
  border: 2px solid #8E9191;
  border-radius: 5px;
  height: 80px;
}


.application_textarea textarea:focus, textarea:active {

  outline:0;
}

.main{
  margin-bottom: 100px;
  position: relative;
}
