html{
  width: 100%;
  height: 100%;

}

body{
  width: 100%;
  height: 100%;

}

.main{
  width: 100%;
  height: 100%;
  position: relative;

}

.slide{
  width: 100%;
  min-height: 200px;
  position: relative;
}

#slide-1{
  height: 100%;
  background: url("http://blogs-images.forbes.com/jeffbercovici/files/2014/08/uberX_Driver2_Color1-e1408037352451-1940x1091.jpg") no-repeat center center ;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}


#slide-1 .header{
  position: absolute;
  width: 450px;
  top: 80px;
  left: 50px;
  text-align: center;
}

#slide-1 .header img{
  width: 100%;
  display: inline-block;
}

#slide-1 p{
  text-align: left;
  font-size: 16px;
}


#slide-2{
  background: #fff url(https://d1a3f4spazzrp4.cloudfront.net/web-fresh/pattern-grid@1x.jpg) repeat left top;
  background-size: 20px;
  overflow: hidden;
  padding-top: 50px;
  padding-left: 100px;
}

#slide-2 .content{
  width: 45%;
  position: relative;

  float: left;
}


#slide-2 .content h1{
}

#slide-2 .content p{
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  line-height: 25px;
  color:#95a5a6;
}

#slide-2 .graphic{

  width: 55%;
  padding: 50px;
  padding-top:150px;
  position: relative;
  float: left;
}

#slide-3{

}


#slide-4{
}


@media (max-width: 480px) {

  #slide-1{
    text-align: center;
    hei
  }
}

@media (max-width: 480px) {

  #slide-1 .header{
    display: inline-block;
    position: absolute;
    width: 300px;
    top: 80px;

    text-align: center;
  }
}

.application{
  position: absolute;
  right:100px;
  top:150px;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  width: 450px;
  background-color: rgba(255,255,255,1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 5px;
  overflow: hidden;
  padding-bottom:20px;
  z-index: 2;
}

@media (max-width: 480px) {
  .application{
    position: relative;
    display: inline-block;
    left:0px;
    top:300px;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    width: 300px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    overflow: hidden;
    padding-bottom:20px;
  }
}


.application_header{
  background-color: #ecf0f1;
  padding: 15px;
  font-size: 30px;
  font-weight: 400;
}

@media (max-width: 480px) {
  .application_header{
    background-color: #ecf0f1;
    padding: 15px;
    font-size: 25px;
    font-weight: 400;
  }
}


.application_body_form_arae{
    min-height: 300px;
}
.application_body{

}

.empty_input{
  color: #e74c3c;
  /*border:2px solid red;*/
}

.empty_input_border{
  border-color: #e74c3c;
}

.second_page{
  display: none;
  position: relative;
  opacity: 0;
  left: 10px;
  padding:20px;
}


.third_page{
  display: none;
  position: relative;
  opacity: 0;
  left: 10px;
}

.application_btn_area{
  margin: 20px;
}

.next_btn{
  position: relative;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  color: white;
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
   box-shadow: inset -1px -1px #16a085;
  background-color: #1abc9c;
  cursor: pointer;
  border:3px solid #bdc3c7;
  border-radius: 50%;
}

.left_btn{
  position: relative;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  color: white;
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
   box-shadow: inset -1px -1px #16a085;
  background-color: #1abc9c;
  cursor: pointer;
  border:3px solid #bdc3c7;
    border-radius: 50%;
}

.btn{
  width: 80px;
  display: inline-block;
}

.next_btn:hover{
  box-shadow: inset 1px 1px #16a085;
}

.left_btn:hover{
  box-shadow: inset 1px 1px #16a085;
}


.input--nariko{

}

.input{
  width: 180px;
}

.input_nomargin{
  margin-top: 0px;
    margin-bottom: 0px;
}

.application_group_label{
  margin-top: 20px;
  text-align: left;
  padding:0px 25px;
}



.application_textarea{
  width: 100%;
  padding: 0px 25px;
}

@media (max-width: 480px) {
  .application_textarea{
    width: 100%;
    padding: 0px 30px;
  }
}

.application_textarea p{
  color: #8E9191;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  padding:0px 5px;
}

.application_textarea textarea{
  width: 100%;
  font-size: 15px;
  color:#1abc9c;
  border: 2px solid #8E9191;
  border-radius: 5px;
  height: 80px;
}


.application_textarea textarea:focus, textarea:active {

  outline:0;
}

.main{
  margin-bottom: 100px;
  position: relative;
}


#slide-4 {
  padding-bottom: 100px;
  overflow: hidden;
  position: relative;
  height: 800px;
  background: url("http://www.performance-car-guide.co.uk/wp-content/uploads/McLaren-Automotive-Chief-Test-Driver-Chris-Goodwin.jpg") no-repeat center center ;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;


}

#slide-4 .middle_layer{
width: 100%;
height: 600px;
color:white;
background: linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0.4));
}

#slide-4 .slide_header{
  position: relative;
  display: inline-block;
  text-align: left;
}

#slide-4 .slide_header h1{
  font-size: 40px;
}

#slide-4 .slide_header p{
  font-size: 15px;
}

#slide-4 .slide_content{
  position: relative;
  display: inline-block;
  left:60%;
  width: 40%;
  float: left;
  padding: 50px;
}

#slide-4 .slide_content h1{
font-size: 40px;
}

#slide-4 .slide_content li{
  font-size: 15px;
  line-height: 25px;
}
