footer{
  position: relative;
  padding:50px 100px;
  box-shadow: inset 0px 5px 5px rgba(0,0,0,0.3);
  display: inline-block;
  width: 100%;
  margin-top: 0px;
  padding-bottom: 130px;
  background-color: #004059;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(97,153,174,0.2), rgba(97,153,174,0.2) 1px, transparent 1px, transparent 100%);
  background-size:4px 4px;
  color: white;
min-height: 300px;
}

footer .footer_logo{

  width: 200px;
  float: left;
}

footer .footer_logo img{
  width: 100%;
}

.social{

  position: absolute;
  top:50px;
  right: 50px;
  overflow: hidden;
  padding: 0px;
}






ul.social_list{
  margin: 0px;
  position: relative;
  display: inline-block;
    list-style-type: none;
    overflow: hidden;
}

footer a:link{
  color:white;
}

footer a:visited {
    color: white;
}

/* mouse over link */
/*a:hover {
    color: white;
}*/

/* selected link */
footer a:active {
    color: white;
}



.social_item{
  width: 40px;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
    margin: 10px 10px;
  height: 40px;
  float: left;
  border-radius: 50%;
  border: 2px white solid;

   transition: all 0.5s ease;
}

.social_item:hover{
  border-color:#1abc9c;
  color:#1abc9c;
}

.footer_tabs_list_social h3{
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}

ul.footer_tabs_list_social{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

ul.footer_tabs_list_social li{
  margin-bottom: 20px;

  position: relative;


}




/*social done*/


.footer_tabs_list h3{
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}

ul.footer_tabs_list{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

ul.footer_tabs_list li{
  padding: 0px;
  padding-left: 0px;
  margin: 0px;
  font-size: 15px;
  line-height: 30px;
  position: relative;

     transition: all 0.5s ease;
  left:0px;
}

ul.footer_tabs_list li:hover{
  left:10px;
    color:#1abc9c;
}



.footer_tabs_area{
  width: 15%;
  margin: 0px 50px;
  overflow: hidden;
  float: left;
  position: relative;
  display: inline-block;
  padding: 0px;
}



.contact_list h3{
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}

ul.contact_list{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

ul.contact_list li{
  padding: 0px;
  padding-left: 0px;
  margin: 0px;
  font-size: 15px;
  line-height: 30px;
}

ul.contact_list i{
  width: 20px;
  text-align: center;
}

.rights{
  position: absolute;
  left: 0px;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #ecf0f1;
}

.bottom_carline{
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%;
}

.bottom_carline img{
  width: 100%;
}


@media (max-width: 768px) {

  footer{
    padding: 50px 20px;
    width: 100%;
    position: relative;
  }

/*.social{
  position: relative;

  width: 100%;
  margin: 0px;
  right:0px;
  top:0px;
  text-align: center;



}

.social_list{
    padding: 20px 20px ;
  overflow: hidden;
    position: relative;
    top:0px;
}*/


.footer_tabs_area{
  width: 50%;
  margin: 50px 0px;
}

.footer_tabs_area h3{
  font-size: 15px;
}

.footer_tabs_area{
  font-size: 13px;
}



}
