footer{
  position: relative;
  padding:50px 100px;
  box-shadow: inset 0px 5px 5px rgba(0,0,0,0.3);
  display: inline-block;
  width: 100%;
  margin-top: 0px;
  background-color: #004059;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(97,153,174,0.2), rgba(97,153,174,0.2) 1px, transparent 1px, transparent 100%);
  background-size:4px 4px;
  color: white;

  height: 380px;
}

footer .footer_logo{

  width: 200px;
  float: left;
}

footer .footer_logo img{
  width: 100%;
}

.social{

  position: absolute;
  top:50px;
  right: 50px;
  overflow: hidden;
  padding: 0px;
}

ul.social_list{
  margin: 0px;
  position: relative;
  display: inline-block;
    list-style-type: none;
    overflow: hidden;
}

footer a:link{
  color:white;
}

footer a:visited {
    color: white;
}

/* mouse over link */
/*a:hover {
    color: white;
}*/

/* selected link */
footer a:active {
    color: white;
}



ul.social_list li{
  width: 40px;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
    margin: 0px 8px;
  height: 40px;
  float: left;
  border-radius: 50%;
  border: 2px white solid;

   transition: all 0.5s ease;
}

ul.social_list li:hover{
  border-color:#1abc9c;
  color:#1abc9c;
}

.footer_tabs_list h3{
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}

ul.footer_tabs_list{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

ul.footer_tabs_list li{
  padding: 0px;
  padding-left: 0px;
  margin: 0px;
  font-size: 15px;
  line-height: 30px;
  position: relative;

     transition: all 0.5s ease;
  left:0px;
}

ul.footer_tabs_list li:hover{
  left:10px;
    color:#1abc9c;
}



.footer_tabs{
  width: 200px;
  margin: 0px 50px;
  float: left;
  position: relative;
  display: inline-block;
  padding: 0px;
}

.contact{
  width: 300px;
  float: left;
}

.contact_list h3{
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}

ul.contact_list{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

ul.contact_list li{
  padding: 0px;
  padding-left: 0px;
  margin: 0px;
  font-size: 15px;
  line-height: 30px;
}

ul.contact_list i{
  width: 20px;
  text-align: center;
}

.rights{
  position: absolute;
  left: 0px;
  bottom: 110px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #ecf0f1;
}

.bottom_carline{
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%;
}

.bottom_carline img{
  width: 100%;
}
