select {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='30px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:white;

  background-repeat:no-repeat;
  background-position: right 10px top 0px;
  background-size: 16px 16px;
  height:30px;
  color:#1abc9c;
  padding:0 30px;
  width:auto;
  font-family:arial,tahoma;
  font-size:15px;
  font-weight:normal;

  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:3px solid #1abc9c;
  outline:0px;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}


.normalLabel{
  font-size:15px;
  color: #696969;
}
@media (max-width: 567px) {
  .normalLabel{
  font-size:12px;
}
}


.normalLabel_wrapper{
  width: 100px;
  padding:0px 10px;
  display: inline-block;
}

@media (max-width: 567px) {
  .normalLabel_wrapper{
    width:100%;

    padding:0px 10px;
    display: inline-block;
  }
}


.field-container{
  padding: 12px 0px;
}

select:focus, select:active {
    border:3px solid #95a5a6;
  outline:0;
}


.select_option{
    display: inline-block;
  width: 40%;
}

@media (max-width: 567px) {
  .select_option {
    width: 60%;
    font-family:arial,tahoma;
    font-size:13px;
    font-weight:500;
    padding:0 10px;
}
}
