header {
    background-color: rgba(0,0,0,0);
    height: 50px;
    color:white;
    position: fixed;
    top: 0;
    transition: all 0.5s ease;
    width: 100%;
    z-index: 10;
}

.carvertise_logo_top
{
	margin:15px 50px;
	font-size: 20px;
}

.tabs_top{
	position:absolute;
	top:0px;
	right:0px;
	padding:15px;
}

@media (max-width: 768px) {

.tabs_top{display: none;}
}


.tabs_top_mobile
{
	display: none;
	position:absolute;
	top:0px;
	right:0px;
	padding:10px;

}

.tabs_top_mobile img{
	width:30px;
}

@media (max-width: 768px) {

.tabs_top_mobile
{
	display:inline;
}
}

.single_tab
{
	color:white;
	margin:0px 30px;
	font-size: 15px;
}
.nav-up {
    top: -50px;
}

.nav-color{
  background-color: rgba(0,0,0,1);
}

.mobile_nav_wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  top:0px;
  left: 0px;
  display: none;

    z-index: 4;
}

.mobile_nav{
  opacity: 1;
  position: fixed;
  width: 70%;
  left:15%;
  top:10%;
  background-color: rgba(0,0,0,0.8);
  z-index: 5;
  display: none;
}

.mobile_nav_header{
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 15px;

}

ul.nav_list{
  margin: 0px;
  padding: 0px;
  width: 100%;
  position: relative;
  display: inline-block;
    list-style-type: none;
    text-align: center;

}

ul.nav_list li{
  height: 100%;
  font-size: 18px;

  padding: 10px;
  border: 1px solid white;
}

.mobile_nav a:link{
  color:white;
}

.mobile_nav a:visited {
    color: white;
}

/* mouse over link */
/*a:hover {
    color: white;
}*/

/* selected link */
.mobile_nav a:active {
    color: white;
}
